.wrapper {
    display: flex;
}

.main-section {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
}

#site-panel-control {
    padding: 20px;
    background-color: #2f3136;
}

.side-panel {
    width: 0;
    height: 100vh;
    transition: width 0.5s ease-in-out;
    overflow-y: auto;
    background-color: white;
}

#iFrame {
    height: 100%;
    width: 100%;
}

.side-panel.expanded {
    width: 300px;
}

.toggle-btn {
    display: block;
    margin: 10px 0;
}
