#DiscordInvite {
    position: absolute;

    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;

    width: 400px;
    height: 175px;
}

#InsideDiscordInviteLeft {
    position: absolute;
	z-index: 2;

    content: "";
	background-size: cover !important;
	
    height: 100%;
    width: calc(100% / 3);

	background-color: #7289da;

    left: 0;
}

#InsideDiscordInviteRight {
    position: absolute;
	z-index: 1;

    content: "";
	background-size: cover !important;

    height: 100%;
    width: calc((100% / 3) * 2);

	box-shadow: inset 0 0 0 3000px rgba(40,43,48,.75);

    right: 0;
}